.title{
    position: relative;
    text-align: center;
}
.title-title{
    color: red;
    font-size: 125px;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    background: red;
}

@media (max-width: 768px) {
    .title-title {
        font-size: 2rem;
        top: 30px;
        left: 50%;
        transform: translateX(-50%);
    }
}
