.title{
    position: relative;
    text-align: center;
}
.title-title{
    color:red;
    font-size: 125px;
    position:absolute;
    top: 20%;
    left: 50%;
    transform:translate(-50%, -50%)
    
@media (max-width: 768px) {
    .title-title {
        font-size: 32px;
        top: 40%
    }
}
