.title{
    position: relative;
    text-align: center
}
.title-title{
    color: red;
    font-size: 100px;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
}

@media (max-width: 768px) {
    .title-title {
        font-size: 100px;
        top: 10%;
        right: 20%;
    }
}
